<html>
<body>
{%load static%}


<style type='text/css'>
body{
text-align:center;
background-color:honeydew;}
div.title{
font-size:25vw;
color:white;
padding:50px;
background-color:green;
height:50vw;}
div.sub{
color:yellow;
font-size:10vw;}
div.login{
font-size:40;
margin:20px;
paddong:20px;}
input{
border-radius:10px;
border-color:5px solid ;
height:15mm;
font-size:30px;
 -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);}


</style>


<div class= 'title'>
<b>Naija Gist</b>
</div>
<div class='login'>
<form>
<fieldset>
<legend> Login</legend><p>Username
<input type='text' placeholder='Username'></p>
<p>Password
<input type='text' placeholder='Password'></p>


<p><button>Login</button></p>
</form>

</div>
</html>
<body>

